{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}
    {% set appearance = macro.appearance(token.appearance, group) %}

    <div class="ui-component ui-component--video {{ advanced }} {{ appearance }} ">

    </div>
{% endmacro %}

{{ base(component, editor) }}