{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}
    {% set appearance = macro.appearance(token.appearance, group) %}
    {% set icon =  macro.styles(token.icon, group.linecons) if token.icon %}

    <div class="ui-component ui-component--icon {{ advanced }} {{ appearance }}">
        <span aria-hidden="true" class="{{ icon }} text-6xl"></span>
    </div>

{% endmacro %}

{{ base(component, editor) }}