{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}
    {% set appearance = macro.appearance(token.appearance, group) %}
    {% set size =  macro.styles(token.font_size, group.text_sizes) %}
    {% set color =  macro.styles(token.appearance.text_color, group.appearance_text_color ) %}
    {% set text_alignment =  macro.styles(token.text_alignment, group.text_alignment ) %}

    {% set line = '<' + token.element + ' class="' + size + color + '">' + site.name + '</' + token.element + '>' %}


    <div class="ui-component ui-component--logo {{ advanced }} {{ appearance }} {{ text_alignment }}">
        <a href="/">
            {{ line | safe }}
        </a>
    </div>
{% endmacro %}

{{ base(component, editor) }}