{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}
    {% set appearance = macro.appearance(token.appearance, group) %}
    {% set size =  macro.styles(token.font_size, group.text_sizes) %}
    {% set color =  macro.styles(token.appearance.text_color, group.appearance_text_color ) %}
    {% set font_weight =  macro.styles(token.appearance.typography.font_weight, group.font_weight ) %}
    {% set text_alignment =  macro.styles(token.text_alignment, group.text_alignment ) %}

    {% if token.element %}
        {% set element = token.element %}
    {% else %}
        {% set element = 'h1' %}
    {% endif %}

    {% set line = '<' + element + ' class="' + font_weight + size + color + '">' + token.title + '</' + element + '>' %}

    <div class="ui-component ui-component--heading {{ advanced }} {{ appearance }} {{ text_alignment }}">
        {{ line | safe }} 
    </div>

{% endmacro %}

{{ base(component, editor) }}