{% import "macros.njk" as macro %}

{% set advanced = macro.advanced(component.advanced) %}
{% set appearance = macro.appearance(component.appearance, editor) %}

<div class="ui-component ui-component--card {{ advanced }} {{ appearance }}">

    {# {% include "components/component-icon.njk" %}
    {% include "components/component-image.njk" %} #}
    {# {{ macro.getComponent('components/component-heading.njk', component.heading) }} #}

    {% for name,val in component %}
        {% if 'heading' === name %}
            {# {% set component = val %}
            {{ component }}
            {% include "components/component-heading.njk" %} #}
        {% endif %}
        
    {% endfor %}
    {# {% include "components/component-heading.njk" %} #}
    {# {% include "components/component-text-block.njk" %} #}
    {# {% include "components/component-button.njk" %} #}
</div>
