{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}
    {% set appearance = macro.appearance(token.appearance, editor) %}

    <div class="ui-component ui-component--image {{ advanced }} {{ appearance }}">
        <img src="{{ token.image }}">
    </div>
{% endmacro %}

{{ base(component, editor) }}
