{# {{ component | dump }} #}
{% import "macros.njk" as macros %}

{# Defaults #}
{% set defaults = "inline-block px-4 py-2 font-bold rounded" %}

{% set styles =  macros.styles(component.style, editor.button_styles) %}
{% set sizes =  macros.styles(component.size, editor.button_sizes) %}

<a href="{{ component.url }}" class="{{ defaults }} {{ styles }} {{ sizes }}">{{ component.text }}</a>
