{% import "macros.njk" as macro %}
{% import "components/component-image.njk" as image %}
{% import "components/component-icon.njk" as icon %}
{% import "components/component-heading.njk" as heading %}
{% import "components/component-text-block.njk" as textblock %}
{% import "components/component-button.njk" as button %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}
    {% set appearance = macro.appearance(token.appearance, group) %}
    {% set spacing = macro.styles(token.spacing, group.card_spacing) %}

    <div class="ui-component ui-component--card {{ advanced }} {{ appearance }} {{ spacing }}">
        {{ icon.base(token.feature, group) if token.feature.type === "icon" }}
        {{ image.base(token.feature, group) if token.feature.type === "image"  }}
        {{ heading.base(token.heading, group) }}
        {{ textblock.base(token.content, group) }}
        {{ button.base(token.button, group) }}
    </div>
{% endmacro %}

{{ base(component, editor) }}