{% import "macros.njk" as macro %}

{% set advanced = macro.advanced(component.advanced) %}
{% set appearance = macro.appearance(component.appearance, editor) %}

<div class="ui-component ui-component--image {{ advanced }} {{ appearance }}">
    <img src="{{ component.image }}">
</div>
