{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {% set advanced = macro.advanced(token.advanced) %}

    <div class="ui-component ui-component--modal {{ advanced }}">
        
    </div>
{% endmacro %}

{{ base(component, editor) }}