{% import "macros.njk" as macro %}

{% macro base(token='', group='') %}
    {# Defaults #}
    {% set defaults = "spacer block" %}

    {% set advanced = macro.advanced(token.advanced) %} 
    {% set appearance = macro.appearance(token.appearance) %}
    {% set styles =  macro.styles(token.height, group.spacer) %}

    <div class="ui-component ui-component--spacer {{ advanced }} {{ appearance }}">
        <div class="{{ defaults }} {{ styles }}"></div>
    </div>
{% endmacro %}

{{ base(component, editor) }}