{% import "macros.njk" as macro %}

{% set spacing =  macro.styles(block.spacing, editor.section_spacing) %}

{% if block.appearance.bg_color !== "custom" %}
    {% set bg_color =  macro.styles(block.appearance.bg_color, editor.appearance_bg_color) %}
{% else %}
    {% set bg_color = "" %}
{% endif %}

{# Todo: Make custom work #}
{% set styles %}
    background-color: {{ block.appearance.bg_color_custom }};
{% endset %}

<div class="ui-block ui-block--section {{ spacing }} {{ bg_color }}">
    {% for row in block.rows %}
        <div class="flex flex-row flex-wrap">
        {% for column in row.columns %}
            <div class="w-1/2">
                {% for component in column.components %}
                    {% include "components/" + component.template + ".njk" %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>