<nav id="nav" class="hidden nav md:flex">

    <ul class="menu">

        {% for item in navigation.main %}

        <li class="menu__item">

            <a href="{{ item.url | safe }}" class="menu__item__link {% if page.url == item.url %}active text-pref-linkHover{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}

        <li class="menu__item">

	        {% include 'components/legacy/scheme-toggle.njk' %}
            
        </li>

    </ul>

</nav>