<div class="footer-wrapper">

    <footer id="footer" class="bg-purple-800 footer">

        <div class="items-center justify-between px-6 py-10 m-auto inner footer-inner md:flex">

            <p class="pb-8 text-purple-100 md:pb-0">© 2020 aaronmazade.  Crafted with <a href="https://www.11ty.io/">11ty</a>, <a href="https://tailwindcss.com/">TailwindCSS</a>, <a href="https://github.com/alpinejs/alpine">AlpineJS</a>.</p>

            {% include 'components/social-icons.njk' %}

        </div>

    </footer>

</div>
