<div class="scheme-toggle" x-data="schemeToggle()" x-init="schemeToggleInit()">
    <div class="scheme-toggle__mode">
        <div x-show="isLight()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
        </div>
        <div x-show="isDark()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
        </div>
    </div>
    <label class="scheme-toggle__control" for="checkbox" >
        <input type="checkbox" id="checkbox" @click="open()"/>
        <div class="slider round"></div>
    </label>
</div>

<script>
    function schemeToggle() {
        return {
            clicked: 0,
            toggle: false,
            schemeToggleInit() {
                let currentScheme = localStorage.getItem('scheme');
                let controlInput = document.querySelector('.scheme-toggle__control input[type="checkbox"');
                
                if (currentScheme) {
                    document.documentElement.setAttribute('data-scheme', currentScheme);
                
                    if (currentScheme === 'dark') {
                        this.isDark();
                        controlInput.checked = true;

                        return this.on = true;
                    }
                }
            },
            open() {
                this.clicked++;
                
                if (this.clicked%2==0) {
                    this.setLight();
                    this.isLight();
                } else {
                    this.setDark();
                    this.isDark();
                }
            },
            setLight() {
                document.documentElement.setAttribute('data-scheme', 'light');
                localStorage.setItem('scheme', 'light');

                return this.toggle = false;
            },
            setDark() {
                document.documentElement.setAttribute('data-scheme', 'dark');
                localStorage.setItem('scheme', 'dark');

                return this.toggle = true;
            },
            isLight() {
                return this.toggle === false;
            },
            isDark() { 
                return this.toggle === true;
            }
        }
    }
</script>