<!doctype html>
<html lang="en" class="min-h-full antialiased">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43246428-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-43246428-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if meta_title %}{{ meta_title }}{% else %}{{ title }}{% endif %} | {{ site.name }}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
    {% if page.fileSlug === 'blog' %}
        <meta name="robots" content="noindex,follow" />
    {% else %}
        <meta name="robots" content="index,follow" />
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

    {# if your site's entire CSS comes in under 14kb, you may want to inline in the head #}
    {# include main.css if in development mode #}
    {% if helpers.environment === "development" %}
        <link rel="stylesheet" href="/static/css/main.css">
    {% else %}
        {# else, use the minified css file for production #}
        <link rel="stylesheet" href="/static/css/main.min.css">
    {% endif %}

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


    {# include scripts #}
    {% if helpers.environment === "development" %}
        <script src="/static/js/main.js" defer></script>
    {% else %}
        <script src="/static/js/main.min.js" defer></script>
    {% endif %}
    
    {# include social meta tags #}
    {% include "components/social-meta.njk" %}

    {# lastly include favicon, fonts, etc #}
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    {# canonical #}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

<body {% if body_class %} id="{{ body_class }}"{% endif %}>

    <a class="sr-only" href="#main">Skip to content</a>

    {# include mobile nav #}
    {% include "components/mobile-nav.njk" %}

    <div id="wrapper" class="relative flex flex-col min-h-screen pt-16 wrapper md:pt-0">

        {# include header #}
        {% include "components/header.njk" %}

        {# include content #}
        {{ content | safe }}

        {# include footer #}
        {% include "components/footer.njk" %}

        {% include "components/scheme-toggle-toast.njk" %}


    </div>

    <script>
        function schemeToggle() {
            return {
                clicked: 0,
                toggle: false,
                schemeToggleInit() {
                    let currentScheme = localStorage.getItem('scheme');
                    let controlInput = document.querySelector('.scheme-toggle__control__input');
                    
                    if (currentScheme) {
                        document.documentElement.setAttribute('data-scheme', currentScheme);
                    
                        if (currentScheme === 'dark') {
                            this.isDark();
                            this.clicked++;
                            controlInput.checked = true;

                            return this.toggle = true;
                        }
                    }
                },
                open() {
                    this.clicked++;
                    
                    if (this.clicked%2==0) {
                        this.setLight();
                        this.isLight();
                    } else {
                        this.setDark();
                        this.isDark();
                    }
                },
                setLight() {
                    document.documentElement.setAttribute('data-scheme', 'light');
                    localStorage.setItem('scheme', 'light');

                    return this.toggle = false;
                },
                setDark() {
                    document.documentElement.setAttribute('data-scheme', 'dark');
                    localStorage.setItem('scheme', 'dark');

                    return this.toggle = true;
                },
                isLight() {
                    return this.toggle === false;
                },
                isDark() { 
                    return this.toggle === true;
                }
            }
        }
    </script>

</body>
</html>
