---
layout: default
---

{# a post layout #}
<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="flex-1 column centre">

        <div class="mb-12 md:mb-20">

            <header>
                <h1 class="text-3xl page-title md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
                <p class="text-center lead">{{ tagline }}</p>
            </header>

            {# featured post image #}
            {% if featured_image %}

                <figure class="mt-10 md:mt-20">

                    <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">

                    {% if image_caption %}

                        <figcaption class="mt-4 text-sm italic text-center text-gray-600">{{ image_caption }}</figcaption>

                    {% endif %}

                </figure>

            {% endif %}

        </div>

        

        <div class="content post md:px-16">

            <section class="pb-10 mb-10 border-b-2 md:px-40 border-pref-meta">
                <div class="flex flex-row">
                
                    <div class="w-2/3">
                        <h4>My Role</h4>

                         {# category links list #}
                        {% if roles %}

                            <ul class="pt-4 list-inside">

                                {% for item in roles %}

                                    <li class="mr-2">
                                        {{ item }}
                                    </li>
                                {% endfor %}

                            </ul>

                        {% endif %}
                    </div>
                    <div class="w-1/3">
                        <h4>Year</h4>
                        {{ year }}
                    </div>
                </div>
            </section>

            {{ content | safe }}

            {# category links list #}
            {% if tags %}

                <ul class="flex pt-4 list-none">

                    {% for item in tags %}

                        {%- if item != "blog" -%}

                            <li class="mr-2">
                                <a class="inline-block px-3 py-2 text-xs font-semibold text-white bg-blue-500 rounded hover:text-white hover:bg-pink-500" href="/category/{{ item }}">{{ item | capitalize }}</a>
                            </li>

                        {%- endif -%}

                    {% endfor %}

                </ul>

            {% endif %}

        </div>

        <div class="mt-16 md:px-16">

            <div class="flex justify-between pt-12 mt-16 border-t border-gray-700">
                {% if prevPost %}<p class="text-sm text-gray-500"><span>Previous:</span> <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></p>{% endif %}
                {% if nextPost %}<p class="text-sm text-gray-500"><span>Next:</span> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
            </div>
        </div>

    </article>

</main>
