
//==========  Form ==========//

.form {

    .form-line {
        @apply mb-6;

        .form-label {
            @apply block mb-1;

            &:after {
                @apply text-sm;
            }
        }

        .form-sub-label {
            @apply text-sm text-scale-700
        }

        &.required {

            .form-label:after {
                content: '\00a0(required)';
            }
        }

        &:not(.required) {

            .form-label:after {
                content: '\00a0(optional)';
            }
        }
    }

    .input,
    .textarea {
        @apply bg-scale-100 text-scale-800 border-2 border-scale-300 rounded p-3 w-full transition-all duration-300 ease-out;

        &:focus {
            @apply border-primary-light outline-none;
        }
    }

    .input {
        @apply h-12;

        &--check {
            @apply pt-2 pb-2 text-sm h-auto inline-block w-full;

            @screen md {
                @apply w-1/2;
            }
        }
    }

    .textarea {
        @apply h-24;
    }

    .form-dropdown {
        @apply relative;

        &__select {
            @apply appearance-none block bg-scale-100 text-scale-800 border-2 border-scale-300 rounded p-3 w-full;
        }
        
        &__pointer {
            @apply absolute inset-y-0 right-0 flex items-center px-4 pointer-events-none text-scale-800;
        }
    }

    .form-checkbox {
        @apply block w-full flex content-center my-2 flex-row content-center;

        &__check {
            @apply appearance-none bg-scale-100 text-scale-800 border-2 border-scale-300 rounded p-3 mr-4 h-6 relative;

            &:after {
                @apply absolute font-bold h-6 w-6 text-primary-dark font-secondary text-xl;
                left: 5px;
                top: -5px;
                line-height: 1;
            }

            &:checked:after {
                content: 'x';
            }
        }

        label {
            @apply text-sm font-bold self-center;
        }
    }

    .form-error-message {
        img {
            @apply hidden;
        }

        &:before {
            content: "^^^";
            @apply mr-2;
        }

        @apply transition-opacity mt-4 flex flex-row bg-scale-200 px-6 py-2 text-sm items-center text-primary-dark font-bold rounded;
    }
}
