/*Simple css to style it like a toggle switch*/
.scheme-toggle {
  @apply flex items-center;

  &__mode {
    @apply mr-2 transition duration-300;
  }

  &__control {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;

    input {
      display:none;
    }
  }

  input:checked + .scheme-toggle__control__toggle {
    background-color: var(--color-scale-500);
  }

  input:checked + .scheme-toggle__control__toggle:before {
    transform: translateX(16px);
  }

  .scheme-toggle__control__toggle {
    @apply bg-pref-schemeToggle duration-300;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 34px;
  }

  .scheme-toggle__control__toggle:before {
    @apply bg-pref-schemeToggleSupport duration-300;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    width: 16px;
    border-radius: 50%;

  }

  .scheme-toggle__control__toggle:hover:before {
    @apply bg-pref-schemeToggleSupportHover;
  }
}

