---
layout: default
---

{# a post layout #}
<main id="main" class="flex flex-col flex-1 py-10 main lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="container flex-1 mx-auto column centre">

        {% if title_visibility %}

        <div class="mb-12 md:mb-20">

            <header>
                <h1 class="text-3xl page-title md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
            </header>
        
        </div>

        {% endif %}

        <div class="content post md:px-16">

            {% for block in blocks %}
                {% if block.template == 'block-section' %}
                    {% include "blocks/section.njk" %}
                {% endif %}
            {% endfor %}

        </div>

    </article>

</main>
