
//==========  Form ==========//

.form {

    .row {
        @apply mb-6;

        label {
            @apply block mb-1;

            &:after {
                @apply text-sm;
            }
        }

        &.required {

            label:after {
                content: '\00a0(required)';
            }
        }

        &:not(.required) {

            label:after {
                content: '\00a0(optional)';
            }
        }
    }

    .input,
    .textarea {
        @apply bg-pref-inputBase text-pref-inputSupport border-2 border-pref-inputBorder rounded p-3 w-full transition-all duration-300 ease-out;

        &:focus {
            @apply border-pref-linkHover outline-none;
        }
    }

    .input {
        @apply h-12;
    }

    .textarea {
        @apply h-24;
    }
}
