/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}

.switch-mode {
  @apply mr-2;
  @apply transition duration-300;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display:none;
}

.slider {
  @apply bg-pref-support duration-300;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before {
  @apply bg-pref-base duration-300;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  width: 16px;
}

input:checked + .slider {
  background-color: var(--color-scale-500);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}