{# Set Component Styles Properties
    Loops through styles set in editor.json and compares them to those set by the component.
    It applies corresponding styles to the variable string to return.

    @return class string
 #}
{% macro styles(component='', group='') -%}
    {% set class = '' %}
    {%- for name, value in group -%}
        {% if name == component -%}
            {% set class = value %}
        {%- endif %}
    {%- endfor -%}
    {{ class }}
{% endmacro %}


{# Loop through all set breakpoints to conditionally apply styles for each.
 #}
{% macro breakpoint_styles(basic='', responsive='', group='', breakpoints='') -%}
    {% set class = '' %}
    {% set class = styles(basic, group) %}

    {% for name, value in responsive %}
        {% for break, point in breakpoints %}
            {% if name == break and value %}
                {% set class = class + " " + point + ":w-"+ value %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {{ class }}
{% endmacro %}

{% macro gutter(setting='', type='', editor='' ) %}

    {% set class = '' %}
    {% set value = styles(setting, editor) %}

    {% if type == 'row' %}
        {% set class = '-mx-' + value %}
    {% endif %}

    {% if type == 'column' %}
        {% set class = 'px-' + value %}
    {% endif %}

    {{ class }}
{% endmacro %}

{# Set Component Advanced Properties
    Sets properties that exsist in the advanced config.

    @return class string
 #}
{% macro advanced(component='', group='') %}
    {% set class = '' %}
    {% set class = class + ' ' +  component.css_id if component.css_id %}
    {% set class = class + ' ' + component.css_classes if component.css_classes %}

    {{ class }}
{% endmacro %}

{% macro appearance(component='', group='') %}
    {% set class = '' %}

    {% set class = class + ' ' +  styles(component.text_color, group.appearance_text_color) %}

    {% if component.bg_color !== "custom" %}
        {% set class = class + ' ' + styles(component.bg_color, group.appearance_bg_color) %}
    {% endif %}

    {{ class }}
{% endmacro %}

{% macro getComponent(file='', setting='') %}
    {% set store %}
        {% include file %}
    {% endset %}

    {% set component = setting %}

    {{ component }}

    {{ store }}
{% endmacro %}

{% macro menuStatus(item='') %}
    {% set default = 'p-1 rounded leading-none font-bold text-xs' %}

    {% if item == 'soon' %}
        {% set default = default + ' bg-info-base text-light'%}
    {% endif %}
    {% if item == 'alpha' %}
        {% set default = default + ' bg-danger-base text-light'%}
    {% endif %}
    {% if item == 'beta' %}
        {% set default = default + ' bg-warning-base text-light'%}
    {% endif %}

    <span class="{{ default }}">
    {{ item }}
    </span>
{% endmacro %}