---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About
---

<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="flex-1 column centre">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
            <p>I live in Hudsonville MI, with my amazing wife. I have a cat named after Akira, my favorite anime film. I’m a huge proponent of a healthy mind and body. I do weight training 5 days a week before coming to work. So my body is always feeling ready for the day thus allowing my mind to be at it’s best</p>

            <p>I also enjoy going on trips with my wife and swimming in our pool. You can usually find me on a bowling or disc golf league too.</p>
        </div>

        <div class="py-20 text-white bg-alpha">
            <div class="container mx-auto">
                <div class="flex -mx-4">
                    <div class="w-2/3 px-4">
                    <h3 class="text-4xl font-thin font-display">Experience</h3>

                    <div class="item">
                        <h4 class="item__title">Stevens Advertising</h4>
                        <p class="item__role">Front-End Developer &amp; Designer</p>
                        <p class="item__time">2016 - Present</p>
                    </div>

                    <div class="item">
                        <h4 class="item__title">Valarous Circle</h4>
                        <p class="item__role">Lead Technical Developer</p>
                        <p class="item__time">2016</p>
                    </div>

                    <div class="item">
                        <h4 class="item__title">XWP</h4>
                        <p class="item__role">Front-End Engineer</p>
                        <p class="item__time">2014 - 2016</p>
                    </div>

                    <div class="item">
                        <h4 class="item__title">Revel</h4>
                        <p class="item__role">Front-End Developer</p>
                        <p class="item__time">2014</p>
                    </div>

                    <div class="item">
                        <h4 class="item__title">LongerDays</h4>
                        <p class="item__role">Executive Creative Director &amp; Developer</p>
                        <p class="item__time">2012 - 2014</p>
                    </div>
                    </div>
                    <div class="w-1/3 px-4">
                    <h3 class="mb-8 text-4xl font-thin font-display">Skills</h3>

                    <h4 class="text-xl font-bold font-display">General</h4>
                        <ul class="skill-list">
                        <li class="skill-list__item">Project Management</li>
                        <li class="skill-list__item">Agile / Scrum</li>
                        <li class="skill-list__item">Design Sprints</li>
                        <li class="skill-list__item">Wireframing</li>
                        <li class="skill-list__item">Rapid Prototyping</li>
                        </ul>
                    <h4 class="text-xl font-bold font-display">Experience Design</h4>
                        <ul class="skill-list">
                        <li class="skill-list__item">User Research</li>
                        </ul>
                    <h4 class="text-xl font-bold font-display">Visual Design</h4>
                        <ul class="skill-list">
                        <li class="skill-list__item">Figma</li>
                        <li class="skill-list__item">Sketch</li>
                        </ul>
                    <h4 class="text-xl font-bold font-display">Development</h4>
                        <ul class="skill-list">
                        <li class="skill-list__item">HTML/Twig/Liquid</li>
                        <li class="skill-list__item">CSS/Sass/LESS/Stylus</li>
                        <li class="skill-list__item">PHP</li>
                        <li class="skill-list__item">Javascript/jQuery</li>
                        <li class="skill-list__item">Vue.js</li>
                        <li class="skill-list__item">Gulp</li>
                        <li class="skill-list__item">Grunt</li>
                        <li class="skill-list__item">Git</li>
                        <li class="skill-list__item">CI/CD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </article>

</main>
