---
layout: default
meta_title: Contact
meta_description: Contact page description
body_class: contact
title: Reach Out
---

<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="flex-1 column centre">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">

            <p>You can find my open-sourced work at <a href="{{ site.social_links.github }}">Github</a>. I sporadically post to <a href="{{ site.social_links.twitter }}">Twitter</a>. I have a <a href="{{ site.social_links.linkedin }}">LinkedIn</a> account too.</p>

            <h3>Send Me An Email</h3>

            <p>Say hi, using this super personable form below:</p>

            <form class="form" netlify>

                {# this form doesn't work - it's just a nice boilerplate to get you up and running #}
                {# uses HTML5 validation #}

                {# if you add a class of 'required' to the row, you'll see the label will change to (required) #}
                {# opinionated form UX - but it's nice and quick to see at glance what fields are required/optional #}
                <div class="row required">
                    <label for="name">Name</label>
                    <input class="input" id="name" type="text" name="name" autocomplete="name" required>
                </div>

                <div class="row required">
                    <label for="email">Email</label>
                    <input class="input" id="email" type="text" name="email" autocapitalize="off" autocomplete="email" required>
                </div>

                {# this field label will show as (optional) as the required class has been left off #}
                <div class="row">
                    <label for="message">Message</label>
                    <textarea class="textarea" id="message" name="message"></textarea>
                </div>
             
                <div class="row">
                    <button class="inline-block px-6 py-4 font-bold rounded text-light text-pref-buttonPrimarySupport bg-pref-buttonPrimaryBase hover:bg-pref-buttonPrimaryBaseHover" type="submit">Send message!</button>
                </div>

            </form>

    </article>

</main>

