---
layout: default
hidden: true
meta_title: Thank You
meta_description: Thanks for reaching out.
body_class: contact-thank-you
title: Thank You!
---

<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="flex-1 column centre">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">

            <p>Your message is on its way to my inbox. Please give me some time to look over what you have sent. I'll be in touch soon!</p>

           <p><a href="/">Take me back to the homepage</a></p>

        </div>
    </article>

</main>

