---
layout: default
meta_title: Home
meta_description: A designer and developer crafting refreshing, user-centric web thingamajigs.
body_class: home
title: Hey, I'm Aaron.
---



<main id="main" class="flex flex-col flex-1 py-10 overflow-x-hidden main inner lg:py-20 focus:outline-none" tabindex="-1">

    <section class="flex-1 column centre content" aria-label="Summary">

        <div class="mb-20 border-b-4 bg-pref-hero border-pref-meta">
            <div class="flex flex-row flex-wrap items-end -mx-8 lg:items-center">
            
                <div class="w-full px-8 text-center md:w-1/2 md:text-left">
                    <h1 class="page-title">{{ title }}</h1>
                    <p class="lead">A designer and developer crafting refreshing, user-centric web thingamajigs.</p>
                </div>
                <div class="w-full px-8 md:w-1/2">
                    <div class="hero-photos">
                        <img src="/static/images/hero_photo_light.png" alt="A graphically altered photo of myself.">
                    </div>
                </div>
            </div>
        </div>

        <div class="content">

            <p class="lead">I specialize in being a generalist in a bespoken digital landscape.</p>

            <p> I reside in the cross-section of human behavior and business desires for end-to-end solutions. Whether that comes in the form of research, strategy, experience design, visual design, front-end development, or developer operations I can play a key role for a project.</p>

            <p><em>Currently:</em> Fascinated with applying design systemization for brands of all sizes and stature.</p>

            <p><a href="/about">Read more about me here</a>.<p>

        </div>

    </section>

    <!-- Work Section -->
    <section class="pt-20">
        <h2 class="text-center md:text-left">My Work</h2>
        <p class="text-center md:text-left lead">Case studies that intersect business goals and human behavior.</p>
        <div class="flex-wrap items-stretch flex-1 -mx-4 posts lg:flex">

            {% for post in collections.work %}
                {% if post.data.featured %}
                <div class="items-stretch flex-1 w-full px-4 md:w-1/2">
                    <article class="mb-8 overflow-hidden article-card">

                        {# featured post image & category #}
                        {% if post.data.featured_image %}

                            <a class="relative block overflow-hidden featured-image-link" href="{{ post.url }}">

                                {# category link #}
                                <ul class="absolute bottom-0 left-0 z-10 flex p-8">

                                    {% for item in post.data.tags %}

                                        {%- if item != "work" -%}

                                            <li class="mr-2">

                                                <span class="inline-block px-4 py-2 text-sm font-bold rounded text-pref-cardBase bg-pref-cardMeta">{{ item | capitalize }}</span>

                                            </li>

                                        {%- endif -%}

                                    {% endfor %}

                                </ul>

                                <figure style="background-color: {{ post.data.bg_color }};" class="p-10 rounded-lg shadow-xl bg-pref-cardBase ">

                                    {# the 'data-lazy' attribute will lazy load your images in #}
                                    {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                    {# it's not fully supported in some browsers, so proceed with caution! #}
                                    {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                    <img data-lazy="{{ post.data.featured_image }}" class="block object-contain w-full h-48" alt="{{ post.data.feature_image_alt }}">

                                </figure>

                            </a>

                        {% endif %}

                        <div class="p-4">

                            <div class="flex flex-row flex-wrap">
                                <div class="w-full">
                                    <h2 class="mb-0 text-3xl text-center"><a class="block text-pref-cardHeading hover:text-pref-cardSupport" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                                </div>

                            </div>

                        </div>


                    </article>
                </div>

                {% endif %}
            {% endfor %}

        </div>
    </section>
    <!-- End Work Section -->

    <!-- Connect Section -->
    <section class="flex-1 pt-20 text-center md:text-left content" aria-label="Contact">
        <h2>Connect With Me</h2>
        <p class="mb-0">Please use my <a href="/contact">contact</a> page to find all the ways I can be reached.</p>
    </section>
    <!-- End Connect Section -->

</main>


