---
layout: default
meta_title: Home
meta_description: A designer and developer crafting refreshing, user-centric web thingamajigs.
body_class: home
title: Hey, I'm Aaron.
---



<main id="main" class="flex flex-col flex-1 py-10 overflow-x-hidden main inner lg:py-20 focus:outline-none" tabindex="-1">

    <section class="flex-1 column centre content" aria-label="Summary">

        <div class="mb-20 border-b-4 bg-pref-hero border-pref-meta">
            <div class="flex flex-row flex-wrap items-end -mx-8 lg:items-center">
            
                <div class="w-full px-8 text-center md:w-1/2 md:text-left">
                    <h1 class="page-title">{{ title }}</h1>
                    <p class="lead">A designer and developer crafting refreshing, user-centric web thingamajigs.</p>
                </div>
                <div class="w-full px-8 md:w-1/2">
                    <div class="hero-photos">
                        <img src="/static/images/hero_photo_light.png" alt="A graphically altered photo of myself.">
                    </div>
                </div>
            </div>
        </div>

        <div class="content">

            <p class="lead">I specialize in being a generalist in a bespoken digital landscape.</p>

            <p> I reside in the cross-section of human behavior and business desires for end-to-end solutions. Whether that comes in the form of research, strategy, experience design, visual design, front-end development, or developer operations I can play a key role for a project.</p>

            <p><em>Currently:</em> Fascinated with applying design systemization for brands of all size and stature.</p>

            <p><a href="/about">Read more about me here</a>.<p>

        </div>

    </section>

    <!-- Work Section -->
    <section class="pt-20">
        <h2 class="text-center md:text-left">My Work</h2>
        <p class="text-center md:text-left lead">Case studies that intersect business goals and human behavior.</p>
        <div class="flex-wrap items-stretch flex-1 -mx-4 posts lg:flex">

            {% for post in collections.work %}
                <div class="items-stretch flex-1 w-full px-4 md:w-1/2">
                    <article class="mb-8 overflow-hidden article-card">

                        {# featured post image & category #}
                        {% if post.data.featured_image %}

                            <a class="relative block overflow-hidden featured-image-link" href="{{ post.url }}">

                                {# category link #}
                                <ul class="absolute bottom-0 left-0 z-10 flex p-8">

                                    {% for item in post.data.tags %}

                                        {%- if item != "work" -%}

                                            <li class="mr-2">

                                                <span class="inline-block px-4 py-2 text-sm font-bold rounded text-pref-cardBase bg-pref-cardMeta">{{ item | capitalize }}</span>

                                            </li>

                                        {%- endif -%}

                                    {% endfor %}

                                </ul>

                                <figure style="background-color: {{ post.data.bg_color }};" class="p-10 rounded-lg shadow-xl bg-pref-cardBase ">

                                    {# the 'data-lazy' attribute will lazy load your images in #}
                                    {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                    {# it's not fully supported in some browsers, so proceed with caution! #}
                                    {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                    <img data-lazy="{{ post.data.featured_image }}" class="block object-contain w-full h-48" alt="{{ post.data.image_caption }}">

                                </figure>

                            </a>

                        {% endif %}

                        <div class="p-4">

                            <div class="flex flex-row flex-wrap">
                                <div class="w-full">
                                    <h2 class="mb-0 text-3xl text-center"><a class="block text-pref-cardHeading hover:text-pref-cardSupport" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                                </div>

                            </div>

                        </div>


                    </article>
                </div>

            {% endfor %}

        </div>
    </section>
    <!-- End Work Section -->


    <!-- Process Section -->
    <section class="flex-1 pt-20 column centre" aria-label="Process">

        <h2 class="text-center md:text-left">Process</h2>
        <p class="text-center md:text-left lead">The methodologies, tools, and disciplines I bring to a project as a generalist.</p>

        <div class="flex flex-row flex-wrap -mx-4 text-lg">
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Discover</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Business Goals &amp; Requirements</li>
                    <li>Research</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Define</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Project Brief</li>
                    <li>User Experience</li>
                    <li>Information Architecture</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Sprint</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Iterations</li>
                    <li>Lo/Hi Fidelity</li>
                    <li>Validation</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Ship</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Code Integration </li>
                    <li>Release Planning</li>
                    <li>Documentation</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Measure</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Feedback Management</li>
                    <li>Business Metrics</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-10 text-xl font-bold text-center">Applied Methods & Tools</h3>

        <div class="flex flex-row flex-wrap -mx-4 text-lg">
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>User Interviews</li>
                    <li>Expert Interviews</li>
                    <li>Competitive Analysis</li>
                    <li>Affinity Mapping</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>User Flows</li>
                    <li>User Stories</li>
                    <li>Journey Mapping</li>
                    <li>Sitemap</li>
                    <li>Personas</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>Sketches</li>
                    <li>Wireframes</li>
                    <li>Low/High Fidelity Prototypes</li>
                    <li>Develop Prototypes</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>DevOps Tools</li>
                    <li>Asset Optimization</li>
                    <li>Design System Management</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>Usability Testing</li>
                    <li>A/B Testing</li>
                    <li>Analytic Review</li>
                    <li>KPIs</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-10 text-xl font-bold text-center">My Generalist Deciplines</h3>

        <div class="flex flex-row flex-wrap -mx-6 text-lg">
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Strategy</h4>

                <p>I always like to look before I leap. Ask a ton of the right questions to make sure we're accomplishing a solution that meets the problem. Plan smart, but plan to adapt and grow along the way. </p>

            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Experience Design</h4>

                <p>I find it of the upmost importance to understand the audience for which we are trying to build solutions for. That is why along with business requirements and goals the customers are constantly used to measure success.</p>
            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Visual Design</h4>

                <p>Hand-in-hand with experience design, I believe in creating solutions that are as elegant as they are functional for their audience. The visual design should not overtake the usability nor should it make it forgettable.</p>
            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Development</h4>

                <p>Develop with the appropriate technologies for the business in mind while making them performant for the usability. I like to integrate design into code that can be systemized and easily maintained for other developers along with being understood by content editors.</p>
            </div>
        </div>
    </section>
    <!-- End Process Section -->
    <!-- Connect Section -->
    <section class="flex-1 pt-20 text-center md:text-left content" aria-label="Contact">
        <h2>Connect With Me</h2>
        <p class="mb-0">Please use my <a href="/contact">contact</a> page to find all the ways I can be reached.</p>
    </section>
    <!-- End Connect Section -->

</main>


