---
layout: default
meta_title: Home
meta_description: Skeleventy is a beautiful, powerful skeleton boilerplate built with Eleventy and TailwindCSS
body_class: home
title: Hey, I'm Aaron.
---



<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <section class="flex-1 column centre" aria-label="Summary">

        <div class="mb-20 border-b-4 bg-pref-hero border-pref-meta">
            <div class="flex flex-row items-center -mx-8">
            
                <div class="w-1/2 px-8">
                    <h1 class="page-title">{{ title }}</h1>
                    <p class="lead">A designer and developer crafting refreshing, user-centric web thingamajigs.</p>
                </div>
                <div class="w-1/2 px-8">
                    <div class="hero-photos" x-data="schemeImages()" x-init="schemeImagesInit()">
                        <img x-show="isLight()" src="/static/images/hero_photo_light.png" alt="A graphically altered photo of myself.">
                        <img x-show="isDark()" src="/static/images/hero_photo_dark.png" alt="A graphically altered photo of myself.">
                    </div>
                    <script>
                    function schemeImages() {
                        return {
                            toggle: false,
                            schemeImagesInit() {
                                let currentScheme = localStorage.getItem('scheme');
                                
                                if (currentScheme) {
                                    document.documentElement.setAttribute('data-scheme', currentScheme);
                                
                                    if (currentScheme === 'dark') {
                                        this.isDark();
                                        return this.toggle = true;
                                    }
                                }
                            },
                            isLight() {
                                    
                                if (document.documentElement.getAttribute('data-scheme', 'light')) {
                                    return this.toggle === false;
                                }
                            },
                            isDark() { 
                                if (document.documentElement.getAttribute('data-scheme', 'dark')) {
                                    return this.toggle === true;
                                }
                            }
                        }
                    }
                    </script>
                </div>
            </div>
        </div>

        <div class="content">

            <h4>I specialize in being a generalist in a bespoken digital landscape.</h4>

            <p> I reside in the cross-section of human behavior and business desires for end-to-end solutions. Whether that comes in the form of research, strategy, experience design, visual design, front-end development, or developer operations I can play a key pivotal role for a project.</p>

            <p>I'm currently fascinated with applying design systemization for brands of all size and stature.</p>

            <p><a href="/about">Read more about me here</a>.<p>

        </div>

    </section>

    <section class="flex-1 pt-10 column centre" aria-label="Process">

    <h2>Process</h2>

    <div class="flex flex-row -mx-4">
        <div class="w-1/5 px-4">
            <h4>Discover</h4>
        </div>
        <div class="w-1/5 px-4">
            <h4>Define</h4>
        </div>
        <div class="w-1/5 px-4">
            <h4>Sprint</h4>
        </div>
        <div class="w-1/5 px-4">
            <h4>Ship</h4>
        </div>
        <div class="w-1/5 px-4">
            <h4>Measure</h4>
        </div>
    </div>

    <h3 class="mt-6 text-xl text-center">Methods & Tools</h3>

    <div class="flex flex-row -mx-4 text-lg">
        <div class="w-1/5 px-4">
            <ul>
                <li>User Interviews</li>
                <li>Expert Interviews</li>
                <li>Competitive Analysis</li>
                <li>Affinity Mapping</li>
            </ul>
        </div>
        <div class="w-1/5 px-4">
            <ul>
                <li>User Flows</li>
                <li>User Stories</li>
                <li>Journey Mapping</li>
                <li>Sitemap</li>
                <li>Personas</li>
            </ul>
        </div>
        <div class="w-1/5 px-4">
            <ul>
                <li>Sketches</li>
                <li>Wireframes</li>
                <li>Low/High Fidelity Prototypes</li>
                <li>Develop Prototypes</li>
            </ul>
        </div>
        <div class="w-1/5 px-4">
            <ul>
                <li>DevOps Tools</li>
                <li>Asset Optimization</li>
                <li>Design System Management</li>
            </ul>
        </div>
        <div class="w-1/5 px-4">
            <ul>
                <li>Usability Testing</li>
                <li>A/B Testing</li>
                <li>Analytic Review</li>
                <li>KPIs</li>
            </ul>
        </div>
    </div>
    </section>

</main>


