---
layout: default
meta_title: Work With me
meta_description: Partner with me on your project.
body_class: home
title: Work With Me
---



<main id="main" class="flex flex-col flex-1 py-10 overflow-x-hidden main inner lg:py-20 focus:outline-none" tabindex="-1">

    <section class="flex-1 column centre" aria-label="Summary">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>
        
        <div class="content">
            <p>Full transparency, I can only take on projects I am passionate about. I work a full-time day job and believe in as much of a work-life balance as there can be. So to be a successful partner for your project, I need to believe in it. I want to give you your money's worth. So that may mean suggesting you work with someone with less experience or finding alternative solutions for your budget.</p>

            <p>If that hasn't scared you away yet, then you should know by that statement that I value clear communication, transparency, and flexibility.</p>
        </div>
        
        <div class="content">
            <h2>Process</h2>
            <p class="text-center md:text-left lead">The methodologies, tools, and disciplines I bring to a project as a generalist.</p>

            <p>I'm a ship early, ship often kind of guy. That may mean breaking up the scope of a project into small chunks that can be released independently of each other. We can always iterate on top of what we ship.</p>
        </div>

        <div class="flex flex-row flex-wrap -mx-4">
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Discover</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Business Goals &amp; Requirements</li>
                    <li>Research</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Define</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Project Brief</li>
                    <li>User Experience</li>
                    <li>Information Architecture</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Sprint</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Iterations</li>
                    <li>Lo/Hi Fidelity</li>
                    <li>Validation</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Ship</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Code Integration </li>
                    <li>Release Planning</li>
                    <li>Documentation</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Measure</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Feedback Management</li>
                    <li>Business Metrics</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-10 text-xl font-bold text-center">Applied Methods & Tools</h3>

        <div class="flex flex-row flex-wrap -mx-4">
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>User Interviews</li>
                    <li>Expert Interviews</li>
                    <li>Competitive Analysis</li>
                    <li>Affinity Mapping</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>User Flows</li>
                    <li>User Stories</li>
                    <li>Journey Mapping</li>
                    <li>Sitemap</li>
                    <li>Personas</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>Sketches</li>
                    <li>Wireframes</li>
                    <li>Low/High Fidelity Prototypes</li>
                    <li>Develop Prototypes</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>DevOps Tools</li>
                    <li>Asset Optimization</li>
                    <li>Design System Management</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>Usability Testing</li>
                    <li>A/B Testing</li>
                    <li>Analytic Review</li>
                    <li>KPIs</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-10 text-xl font-bold text-center">My Generalist Deciplines</h3>

        <div class="flex flex-row flex-wrap -mx-6">
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Strategy</h4>

                <p>I always like to look before I leap. Ask a ton of the right questions to make sure we're accomplishing a solution that meets the problem. Plan smart, but plan to adapt and grow along the way. </p>

            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Experience Design</h4>

                <p>I find it of the upmost importance to understand the audience for which we are trying to build solutions for. That is why along with business requirements and goals the customers are constantly used to measure success.</p>
            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Visual Design</h4>

                <p>Hand-in-hand with experience design, I believe in creating solutions that are as elegant as they are functional for their audience. The visual design should not overtake the usability nor should it make it forgettable.</p>
            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Development</h4>

                <p>Develop with the appropriate technologies for the business in mind while making them performant for usability. I like to integrate design into code that can be systemized and easily maintained for other developers along with being understood by content editors.</p>
            </div>
        </div>

        <div class="content">
            <h2>Solutions</h2>
            <p class="lead">I create solutions that are tailored for each project.</p>

            <h3>JAMstack Marketing Website</h3>

            <p class="text-base lead">A high-performance blazing fast SEO-friendly website. </p>

            <p>Your audience and Google don't want to wait long for your site to load. I'll build you a website that ranks well on Google's site performance benchmarks while also making your users happy with how quick their viewing experience will be.</p>

            <p>The JAMstack has been an approach to building websites that has been gaining a lot of traction in the last few years. Standard ways of building websites with systems such as WordPress can easily become slow and can require a lot of modification to improve performance. Whereas with the JAMstack your website is served to your users in a static form. There is no requirement of your website to wait for a database to respond. Just like with standard systems you can have a great web editing experience thanks to several wonderful Headless CMS options. This will allow you to make content updates and refresh your website in a similar fashion.</p>

            <h4 class="mt-10 text-xl font-bold">JAMstack Advantages</h4>

            <div class="flex flex-row flex-wrap -mx-6">
                <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                    <h5>Performance</h5>
                    <p>Your users are not waiting on a database to render your website for them. By serving static HTML pages, your users will fly from page to page. Your site will also be able to handle traffic fluctuations without issues.</p>
                </div>
                <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                    <h5>Optimized To Rank </h5>
                    <p>While nothing is guaranteed with Google search result rankings having a performant website gives you the best advantage with placement.</p>
                </div>
                <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                    <h5>Easy To Edit</h5>
                    <p>A tailored editing experience that helps you create content with ease. You can publish your changes to your website and the static HTML will be rebuilt quickly.</p>
                </div>
                <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                    <h5>Secure</h5>
                    <p>Your website is served as HTML so there is less possibilty to be hacked.</p>
                </div>
            </div>

            <h4 class="mt-4 text-xl font-bold">JAMstack Website Pricing</h4>

            <p>All JAMstack websites I build are custom solutions so there is not a set price. Each project comes with unique business requirements and goals that must be factored in. Some clients may wish to spend more time researching users while others just want to get a website launched as quickly as possible. I try to be flexible to these needs but will put my foot down when needed.</p>

            <p>With a given a budget and overview of what you want to create I will then assemble an estimate with a scope.</p>
        </div>
    </section>

    <!-- Connect Section -->
    <section class="flex-1 pt-20 text-center md:text-left content" aria-label="Contact">
        <h2>Connect With Me</h2>
        <p class="mb-0">Please use my <a href="/contact">contact</a> page to find all the ways I can be reached.</p>
    </section>
    <!-- End Connect Section -->

</main>


