---
layout: default
meta_title: Process
meta_description: Partner with me on your project.
body_class: home
title: Process
---



<main id="main" class="flex flex-col flex-1 py-10 overflow-x-hidden main inner lg:py-20 focus:outline-none" tabindex="-1">

    <section class="flex-1 column centre" aria-label="Summary">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <p class="text-center md:text-left lead">The methodologies, tools, and disciplines I bring to a project as a generalist.</p>

        <div class="flex flex-row flex-wrap -mx-4">
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Discover</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Business Goals &amp; Requirements</li>
                    <li>Research</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Define</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Project Brief</li>
                    <li>User Experience</li>
                    <li>Information Architecture</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Sprint</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Iterations</li>
                    <li>Lo/Hi Fidelity</li>
                    <li>Validation</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Ship</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Code Integration </li>
                    <li>Release Planning</li>
                    <li>Documentation</li>
                </ul>
            </div>
            <div class="w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <h4 class="inline-block pb-4 mb-0 border-b md:block border-pref-meta">Measure</h4>

                <ul class="flex-1 w-2/3 p-4 mx-auto md:w-full">
                    <li>Feedback Management</li>
                    <li>Business Metrics</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-10 text-xl font-bold text-center">Applied Methods & Tools</h3>

        <div class="flex flex-row flex-wrap -mx-4">
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>User Interviews</li>
                    <li>Expert Interviews</li>
                    <li>Competitive Analysis</li>
                    <li>Affinity Mapping</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>User Flows</li>
                    <li>User Stories</li>
                    <li>Journey Mapping</li>
                    <li>Sitemap</li>
                    <li>Personas</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>Sketches</li>
                    <li>Wireframes</li>
                    <li>Low/High Fidelity Prototypes</li>
                    <li>Develop Prototypes</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>DevOps Tools</li>
                    <li>Asset Optimization</li>
                    <li>Design System Management</li>
                </ul>
            </div>
            <div class="flex items-stretch w-full px-2 mb-6 text-center md:mb-0 md:w-1/5">
                <ul class="w-2/3 p-4 mx-auto rounded-lg shadow-md md:w-full bg-pref-cardBaserounded-lg bg-pref-cardBase">
                    <li>Usability Testing</li>
                    <li>A/B Testing</li>
                    <li>Analytic Review</li>
                    <li>KPIs</li>
                </ul>
            </div>
        </div>

        <h3 class="mt-10 text-xl font-bold text-center">My Generalist Deciplines</h3>

        <div class="flex flex-row flex-wrap -mx-6">
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Strategy</h4>

                <p>I always like to look before I leap. Ask a ton of the right questions to make sure we're accomplishing a solution that meets the problem. Plan smart, but plan to adapt and grow along the way. </p>

            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Experience Design</h4>

                <p>I find it of the upmost importance to understand the audience for which we are trying to build solutions for. That is why along with business requirements and goals the customers are constantly used to measure success.</p>
            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Visual Design</h4>

                <p>Hand-in-hand with experience design, I believe in creating solutions that are as elegant as they are functional for their audience. The visual design should not overtake the usability nor should it make it forgettable.</p>
            </div>
            <div class="w-full px-6 mb-6 text-center md:w-1/2 md:text-left">
                <h4>Development</h4>

                <p>Develop with the appropriate technologies for the business in mind while making them performant for usability. I like to integrate design into code that can be systemized and easily maintained for other developers along with being understood by content editors.</p>
            </div>
        </div>
    </section>

    <!-- Connect Section -->
    <section class="flex-1 pt-20 text-center md:text-left content" aria-label="Contact">
        <h2>Connect With Me</h2>
        <p class="mb-0">Please use my <a href="/contact">contact</a> page to find all the ways I can be reached.</p>
    </section>
    <!-- End Connect Section -->

</main>


