---
layout: default
meta_title: Work
meta_description: Work page description
body_class: work
title: Work
---

<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="flex-1 column centre" aria-label="Blogs">

        <h1 class="mb-16 text-3xl page-title md:text-center md:text-5xl lg:mb-24 lg:text-6xl">{{ title }}</h1>

        <div class="flex-wrap flex-1 posts lg:flex">

            {% for post in collections.work %}

                <article class="w-full mb-8 overflow-hidden article-card">

                    {# featured post image & category #}
                    {% if post.data.featured_image %}

                        <a class="relative block overflow-hidden featured-image-link" href="{{ post.url }}">

                            {# category link #}
                            <ul class="absolute bottom-0 left-0 z-10 flex p-8">

                                {% for item in post.data.tags %}

                                    {%- if item != "work" -%}

                                        <li class="mr-2">

                                            <span class="inline-block px-4 py-2 text-sm font-bold rounded text-pref-cardBase bg-pref-cardMeta">{{ item | capitalize }}</span>

                                        </li>

                                    {%- endif -%}

                                {% endfor %}

                            </ul>

                            <figure style="background-color: {{ post.data.bg_color }};" class="p-20 rounded-lg shadow-xl md:mx-4 bg-pref-cardBase">

                                {# the 'data-lazy' attribute will lazy load your images in #}
                                {# the js uses the new Intersection Observer API, see ../modules/lazyload #}
                                {# it's not fully supported in some browsers, so proceed with caution! #}
                                {# the srcset attribute would be a nice addtion here as well...in a future update maybe :) #}
                                <img data-lazy="{{ post.data.featured_image }}" class="block object-contain" alt="{{ post.data.image_caption }}">

                            </figure>

                        </a>

                    {% endif %}

                    <div class="p-8 border-b border-pref-meta">

                        <div class="flex flex-row flex-wrap">
                            <div class="w-full md:w-1/3">
                                <h2 class="mb-6 text-3xl font-bold"><a class="block text-pref-cardHeading hover:text-pref-cardSupport" href="{{ post.url }}">{{ post.data.title }}</a></h2>
                            </div>

                            <div class="w-full md:w-2/3">
                                {{ post.data.excerpt | safe }}
                            </div>
                        </div>

                        <div class="flex flex-row justify-end">
                            <div>
                                <a class="inline-block mt-10 text-right border-b-2 text-pref-cardHeading hover:text-pref-cardSupport border-pref-cardSupport" href="{{ post.url }}">Read More</a>
                            </div>
                        </div>


                    </div>

                </article>

            {% endfor %}

        </div>

    </section>

</main>


