:root {
    --color-dark: #000;
    --color-light: #fff;

    --color-primary-100: #faf5ff;
    --color-primary-200: #e9d8fd;
    --color-primary-300: #d6bcfa;
    --color-primary-400: #b794f4;
    --color-primary-500: #9f7aea;
    --color-primary-600: #805ad5;
    --color-primary-700: #6b46c1;
    --color-primary-800: #553c9a;
    --color-primary-900: #44337a;

    --color-secondary-100: #fff5f7;
    --color-secondary-200: #fed7e2;
    --color-secondary-300: #fbb6ce;
    --color-secondary-400: #f687b3;
    --color-secondary-500: #ed64a6;
    --color-secondary-600: #d53f8c;
    --color-secondary-700: #b83280;
    --color-secondary-800: #97266d;
    --color-secondary-900: #702459;

    --color-tertiary-light: #241e6f;
    --color-tertiary-base: #161447;
    --color-tertiary-dark: #0A0820;

    --color-success-light: #82D6BC;
    --color-success-base: #5CC9A7;
    --color-success-dark: #3CB690;

    --color-danger-light: #F68592;
    --color-danger-base: #F25667;
    --color-danger-dark: #EE273C;

    --color-warning-light: #FFCE70;
    --color-warning-base: #FFBD3E;
    --color-warning-dark: #ffad0a;

    --color-info-light: #82CBFF;
    --color-info-base: #50b5ff;
    --color-info-dark: #1d9fff;

    --color-scale-100: #f7fafc;
    --color-scale-200: #edf2f7;
    --color-scale-300: #e2e8f0;
    --color-scale-400: #cbd5e0;
    --color-scale-500: #a0aec0;
    --color-scale-600: #718096;
    --color-scale-700: #4a5568;
    --color-scale-800: #2d3748;
    --color-scale-900: #1a202c;

    --color-brand: var(--color-primary-500);
    --color-base: var(--color-light); // Body BG
    --color-support: var(--color-scale-700); // Body Font
    --color-lead: var(--color-scale-600);
    --color-meta: var(--color-scale-500);
    --color-heading: var(--color-scale-800);
    --color-footer-base: var(--color-primary-100); // Footer BG
    --color-footer-support: var(--color-scale-700); //  Footer Text

    --color-link: var(--color-scale-900);
    --color-link-support: var(--color-primary-600);
    --color-link-hover: var(--color-primary-600);
    --color-link-support-hover: var(--color-scale-200);

    --color-input-base: var(--color-scale-200);
    --color-input-border: var(--color-scale-400);
    --color-input-support: var(--color-scale-600);

    --color-button-primary-base: var(--color-primary-200);
    --color-button-primary-support: var(--color-scale-700);
    --color-button-primary-base-hover: var(--color-primary-400);
    --color-button-primary-support-hover: var(--color-scale-700);
}

[data-theme="dark"] {
    --color-brand: var(--color-primary-400);
    --color-base: var(--color-scale-900); // Body Bg
    --color-support: var(--color-scale-400); // Body Font
    --color-lead: var(--color-scale-500);
    --color-meta: var(--color-scale-500);
    --color-heading: var(--color-scale-100);
    --color-footer-base: var(--color-primary-900);
    --color-footer-support: var(--color-scale-100);

    --color-link: var(--color-scale-200);
    --color-link-support: var(--color-primary-300);
    --color-link-hover: var(--color-primary-300);
    --color-link-support-hover: var(--color-scale-200);

    --color-input-base: var(--color-scale-800);
    --color-input-border: var(--color-scale-600);
    --color-input-support: var(--color-scale-500);

    --color-button-primary-base: var(--color-primary-800);
    --color-button-primary-support: var(--color-light);
    --color-button-primary-base-hover: var(--color-primary-500);
    --color-button-primary-support-hover: var(--color-light);
}